@model TrashCollector.Models.CustomerViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h1 class="text-center">Welcome @Model.Customer.FirstName @Model.Customer.LastName</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pickup.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pickup.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pickup.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pickup.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pickup.PickupDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pickup.PickupDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pickup.OneTimePickup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pickup.OneTimePickup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pickup.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pickup.Balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pickup.IsSuspended)
        </dt>
        <dd class="col-sm-10">
            @(Model.Pickup.IsSuspended ? "Suspended" : "Active")
        </dd>
        <dd class="col-sm-10">
            <a asp-action="Transactions" asp-route-id="@Model.Customer.Id">View Transactions</a>
        </dd>
        <dd class="col-sm-10">
        <a asp-action="UpdateSuspensionDates" asp-route-id="@Model.Customer.Id">Update Pickup Service Dates</a>
        </dd>
    </dl>
    @*<button class="btn btn-outline-dark" onclick="location.href = '@Url.Action("UpdateSuspensionDates")';return false;">Update Pickup Dates</button>*@
    <br />

    <form asp-action="UpdatePickupDay">
        <div class="form-group">
            <input type="hidden" asp-for="Pickup.Id" />
            <label asp-for="Pickup.PickupDay" class="control-label"></label>
            <select asp-for="Pickup.PickupDay" class="form-control" asp-items="@Model.Pickup.Days"></select>
        </div>

        <div class="form-group">
            <input type="submit" value="Change PickupDay" class="btn btn-outline-dark" />
        </div>
    </form>

    <form asp-action="UpdateOneTimePickup">
        <div class="form-group">
            <input type="hidden" asp-for="Pickup.Id" />
            <label asp-for="Pickup.OneTimePickup" class="control-label"></label>
            <input asp-for="Pickup.OneTimePickup" class="form-control">
            <span asp-validation-for="Pickup.OneTimePickup" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Change one time pickup" class="btn btn-outline-dark" />
        </div>
    </form>
</div>
