@model TrashCollector.Models.EmployeeViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}


<h1 class="text-center">Customers</h1>
<h1 class="text-center">@DateTime.Today.DayOfWeek.ToString()</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <form class="form-group" asp-action="FilterByDay" method="get" id="myForm">
                <div class="form-group">
                    <label class="control-label">Select Day</label>
                    <select asp-for="Day" class="control-label" asp-items="@Model.Days" onchange="filterByDay();">
                        <option value="" selected disabled>Select Day</option>
                    </select>
                </div>

            </form>
        </div>
        <div class="col-sm text-right">
            <a asp-action="TrashCollected">View Confirmed pickups</a>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Customers != null)
        {
            @foreach (var item in Model.Customers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        <a asp-action="GoogleMap" asp-route-id="@item.Id">@item.Address.StandardAddressFormat()</a>
                    </td>
                    @if (!Model.HidePickupTrash)
                    {
                        <td>
                            <a asp-action="PickupTrash" asp-route-id="@item.Id">Pickup Trash</a>
                        </td>
                    }
                </tr>
            }
        }

    </tbody>
</table>
@if (Model.Geocodes.Count() > 0) 
{ 
    <div>
    @await Html.PartialAsync("GoogleMap", Model.Geocodes);
    </div>
}


<script>
    function filterByDay() {
        $("#myForm").submit();
    }
</script>